main 
    section(class="features")
        div(class="features__text")
            h3 At your fingertips
            h1 Features
            h4 Most calendars are designed for teams. Slate is designed for freelancers 
        div(class="features__article-box")
            div(class="features__article")
                div(class="features__article-title")
                    img(src="./img/svg/ic_round-restaurant-menu.svg", alt="Error")
                    h3 The best products start with Sketch
                p Slate helps you see how many more days you need to work to reach your financial goal. 
            div(class="features__article")    
                div(class="features__article-title")
                    img(src="./img/svg/pen.svg", alt="Error")
                    h3 Fastest way to organize
                p Slate helps you see how many more days you need to work to reach your financial goal.  
            div(class="features__article")   
                div(class="features__article-title")
                    img(src="./img/svg/eat.svg", alt="Error")
                    h3 Work better together
                p Slate helps you see how many more days you need to work to reach your financial goal. 
    section(class="prototyping")
        div(class="prototyping__info")
            h2 Lightning fast prototyping
            h4 Most calendars are designed for teams. Slate is designed for freelancers 
            button Try For Free
        img(src="./img/mac.png", alt="Error")
    section(class="your-prototyping")
        div(class="your-prototyping__subscribe-box")
            div(class="your-prototyping__subscribe-title")
                h3 At your fingertips
                h2 Lightning fast prototyping
            div(class="your-prototyping__subscribe-email")
                h3 Subscribe to our Newsletter
                p Available exclusivery on Figmaland
                form(action="#" method="post")
                    input(type="email" placeholder="Your Email")
                    button  Subscribe
    section(class="partners")
        div(class="partners__title")
            h2 Partners
            h4 Most calendars are designed for teams. Slate is designed for freelancers 
        div(class="partners__article-box")
            div(class="partners__article")
                h6 Client Name
                img(src="./img/logos_apiary.png", alt="Error")
                p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
            div(class="partners__article")
                h6 Client Name
                img(src="./img/svg/logos_android-icon.svg", alt="Error")
                p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
            div(class="partners__article")
                h6 Client Name
                img(src="./img/svg/logos_basecamp.svg", alt="Error")
                p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
            div(class="partners__article")
                h6 Client Name
                img(src="./img/svg/logos_basecamp.svg", alt="Error")
                p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
            div(class="partners__article")
                h6 Client Name
                img(src="./img/svg/logos_airbnb.svg", alt="Error")
                p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
            div(class="partners__article")
                h6 Client Name
                img(src="./img/logos_apple-app-store.png", alt="Error")
                p Slate helps you see how many more days you need to work to reach your financial goal for the month and year.
        button Try For Free
    section(class="testimonials")
            div(class="testimonials__title")
                h2 Testimonials
            div(class="testimonials__people")
                img(src="./img/drop.png", alt="Error")
                p Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
                div(class="testimonials__people-box")
                    img(src="./img/Ellipse.png", alt="Error")
                    div(class="testimonials__people-text")
                        h6 Organize across
                        p Ui designer
            button More Testimonials
    section(class="pricing")
        div(class="pricing__title")
            h2 Pricing
            p Most calendars are designed for teams. Slate is designed for freelancers
        div(class="pricing__box")
            div(class="pricing__card")
                div(class="pricing__free-title")
                    h3 Free
                    h6 Organize across all apps by hand
                div(class="pricing__price")
                    h1 0
                    div(class="pricing__price-info")
                        h3 $
                        h6 Per Month
                div(class="pricing__button")
                    button Order Now
            div(class="pricing__card")
                div(class="pricing__free-title")
                    h3 STANDARD
                    h6 Organize across all apps by hand
                div(class="pricing__price")
                    h1 10
                    div(class="pricing__price-info")
                        h3 $
                        h6 Per Month
                div(class="pricing__button")
                    button Order Now
            div(class="pricing__card")
                div(class="pricing__free-title")
                    h3 BUSINESS
                    h6 Organize across all apps by hand
                div(class="pricing__price")
                    h1 99
                    div(class="pricing__price-info")
                        h3 $
                        h6 Per Month
                div(class="pricing__button")
                    button Order Now
    section(class="contact-us")
        div(class="contact-us__title")
            h2 Contact Us
            h4 Most calendars are designed for teams. Slate is designed for freelancers
        div(class="contact-us__register")
            div(class="contact-us__form")
                form(action="#" method="post")
                    input(type="text" placeholder="Your Name")
                    input(type="email" placeholder="Your Email")
                    textarea(placeholder="Your Message")
                    button Send
            div(class="contact-us__info")
                div(class="contact-us__contacts")
                    div(class="contact-us__contact-box")
                        img(class="marker" src="./img/bx_bx-map.png", alt="Error")
                        h5 6386 Spring St undefined Anchorage, Georgia 12473 United States
                    div(class="contact-us__contact-box")
                        img(class="phone" src="./img/ic_baseline-phone-android.png", alt="Error")
                        h5 (843) 555-0130
                    div(class="contact-us__contact-box")
                        img(class="mail" src="./img/ant-design_mail-outlined.png", alt="Error")
                        h5 willie.jennings@example.com
                div(class="contact-us__links")
                    img(src="./img/ant-design_twitter-outlined.png", alt="Error")
                    img(src="./img/ant-design_facebook-filled.png", alt="Error")
                    img(src="./img/ant-design_linkedin-filled.png", alt="Error")
                
            

