header(class="header")
    div(class="header__inner")
        img(class="header__logo" src="./img/Rectangle 4.png", alt="Error")
        nav(class="nav")
            a(href="") Home  
            a(href="") Poroduct 
            a(href="") Pricing 
            a(href="") About
            a(href="") Contact
            form(class="header__form" action="#" method='post')
                input(type="email" placeholder='Your Email')
                button Subscribe
        img(class="header__menu-img" src="./img/bx_bx-menu-alt-right.png", alt="Error")
    div(class="header__info")
        button(class="header__mob-btn") Try For Free
        img(class="header__pc-img" src="./img/Frame 18.png", alt="Error")
        img(class="header__mob-img" src="./img/container.png", alt="Error")
        div(class="header__text")
            h1 We focus on ergonomics
            h4 Most calendars are designed for teams. Slate is designed for freelancers 
            button Try For Free 